// app settings file
@import "fif.common.settings.app";

// widgets
@import "widgets/global";
@import "widgets/tour";
@import "widgets/signin";
@import "widgets/navdrawer";
@import "widgets/incidents";
@import "widgets/incident";
@import "widgets/customers";
@import "widgets/profile";
@import "widgets/about";
@import "widgets/chat";



